html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

strong {
    font-weight: 600
}

img {
    float: right;
    height: 300px;
    width: 400px;
}

.container-lg {
    max-width: 1024px;
    margin: 0 auto;
}